body,html,* {
    font-family: "Raleway";
  }
  
  #review_section {
    position: relative;
  }
  #review_section .card {
    box-shadow: 0 20px 45px #ccc !important;
  }
  #review_section .triangle-w {
    position: absolute;
    bottom: -50px;
    left: 0;
    height: 78px;
    z-index: 100;
  }
  #review_section img {
    max-width: 45px;
  }
  #review_section .profil img {
  
    max-height: 65px;
    max-width: 65px;
  }
  